﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success">
         <div class="container">
            @Html.ActionLink("BlueStone", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @*<div class="btn-red  d-sm-inline-flex pull-right">*@

            <ul class="navbar-nav flex-grow-1">

                <li>@Html.ActionLink("Product", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
              <div class="btn-red  d-sm-inline-flex pull-right">
                <li>@Html.ActionLink("logout", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

            </ul>
         </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

