﻿
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>
<center>
    <div class='myDiv'>
        <a class="btn btn-outline-dark" style='margin-right:16px' href="https://localhost:44338/Admins/Login"> Login As Admin</a>
        <a class="btn btn-outline-dark" style='margin-right:16px' href="https://localhost:44338/Customers/Login"> Login As Customer</a>
    </div>
</center>
