﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: image-set("~/Content/Images/DiamondBangles.jpg")
        }

        .navbar2 a {
            border: none;
            color: white;
            padding: 7px 25px;
            margin: 5px 7px;
            float: right;
            display: block;
            font-size: 12px;
            cursor: pointer;
            border-radius: 2px;
            text-decoration: none;
        }

        .mainpage img {
            place-content: center;
            height: 300px;
            width: 300px;
        }

        img {
            margin: 85px;
            margin-left: 150px;
            width: 450px;
            height: 550px;
            border-radius: 50px;
            box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.7);
        }

        .divider {
            display: flex;
        }

        .wrapper {
            margin-top: 85px;
            margin-left: 150px;
        }

            .wrapper a {
                display: block;
                width: 300px;
                height: 60px;
                line-height: 60px;
                font-size: 18px;
                font-family: sans-serif;
                text-decoration: none;
                color: #333;
                background-color: #fbfbfb;
                border: 2px solid #333;
                letter-spacing: 3px;
                text-align: center;
                position: relative;
                transition: all .35s;
                margin: 20px auto;
                border-radius: 10px;
            }

                .wrapper a span {
                    position: relative;
                    z-index: 2;
                }

                .wrapper a:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: #14a44d;
                    transition: all .35s;
                    border-radius: 8px;
                }

                .wrapper a:hover {
                    color: #fff;
                }

                    .wrapper a:hover:after {
                        width: 100%;
                    }
    </style>
</head>
<body>
    <div class="navbar2">
        <a class="logoutbtn" href="@Url.Action("Index","Home")"><strong>Logout</strong></a>
    </div>

    <div class="divider">

        <div class="mainpage">
            <img src="~/Content/Images/DiamondBangles.jpg" alt="Jewellery" />
        </div>

        <div class="wrapper">
            <a href="@Url.Action("Index","Categories")"><span>Categories</span></a>
            <a href="@Url.Action("Index","Products")"><span>Products</span></a>
        </div>
    </div>

</body>
</html>