﻿@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!--<link rel="stylesheet" href="styleSheet.css">-->
</head>

<body>
    <logo class="logo">
        <center>
            <img src="~/Content/Images/about.jpg" alt="Check URL" width="1100" height="600">

        </center>
    </logo>


    <main>
        <center>
            <h1>
                About Us:
            </h1>

            <p>
                Established in 2011, BlueStone is India's leading destination for high quality fine jewellery with strikingly exquisite designs. We aim at revolutionizing the fine jewellery and lifestyle segment in India with a firm focus on craftsmanship, quality and customer experience. In a short span of time, BlueStone has built a large family of loyal consumers in India and abroad.
            </p>

            <p>
                We house more than 8000 unique designs for you to choose from. All these designs are crafted to perfection with utmost care giving you the flexibility to customize the product's gold purity and colour or diamond clarity to suit your needs.
                Our stores have been instrumental in spreading the shine of BlueStone and bringing us closer to you. With world class experience, friendly staff and the dazzling beauty of exquisite jewellery, every store is a sparkling gem.
                With an award-winning design team that pays great attention to detail, each of our products are a symbol of perfection. With cutting edge innovation and latest technology, we make sure the brilliance is well reflected in all our jewellery.
                We also offer a 30 Day Money Back guarantee, Certified Jewellery and Lifetime Exchange. You can also experience luxury shopping from the comfort of your home with our complimentary Try At Home service.
            </p>
        </center>
    </main>

    <footer class="footer">
        <Center>
            <p>
                copy@right<br> All Rights Reserved
            </p>
        </Center>
        <h1>
            Contact Us:<br>
        </h1>
        <h4>
            email: jewelleryforyou@gmail.com<br>
        </h4>
    </footer>
</body>

</html>