﻿@{
    ViewBag.Title = "Contact";
}
    <h1>Connect With Us</h1>

    <p>

        We are always available to guide you at your convenience.
    </p>

    <address>
        Bhagarwadi<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">Phone:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong><text>Supportbluestone@gmail.com</text><br />
        <strong>Marketing:</strong><text>Marketingbluestone@gmail.com</text>
    </address>
</main>