﻿
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/Homepage.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Jewellery Website</title>
    <style>
        #body {
            background-image:url(../../content/images/about.jpg);
        }

        #container {
            display: flex;
            justify-content: center;
            min-height: 400px;
        }

            #container div {
                height: 370px;
                width: 255px;
                margin: 15px;
            }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 15px;
        }

        #but_ton {
            outline-color: black;
            border: thin;
            color: white;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
        }
    </style>

</head>
<body>
    <section class="section-intro">
        <header>
            <h1>BlueStone Jewellery</h1>
        </header>
    </section>

    <section class="about-section">
        <article>
            <center>
                <p>
                    Wear a fabulous smile, great jewelry and know that you are totally and utterly in control.
                </p>
            </center>
        </article>
    </section>
        <div>
            <img src="~/Content/Images/gold2.jpg" alt="Gold Jewellery Image" width="1200" /><!" class="d-block w-100" alt="Gold Jewellery Image">
        </div>
        <br />
        <br />

        <center><h2>Our Jewellery</h2></center>
        <br />

        <div id="container">
            <div class="card">
                <img class="shop-item-image" src="~/Content/Images/daiamondJhumka.jpg" width="255" height="450" /> @Html.ActionLink("Explore", "Display", "Account", new { }, new { @class = "btn btn-success" })
            </div>

            <div class="card">
                <img class="shop-item-image" src="~/Content/Images/DiamondBangles.jpg" width="255" height="500">@Html.ActionLink("Explore", "Display", "Account", new { }, new { @class = "btn btn-primary" })
            </div>
            <div class="card">
                <img class="shop-item-image" src="~/Content/Images/DiamondNecklace.jfif" width="255" height="500">@Html.ActionLink("Explore", "Display", "Account", new { }, new { @class = "btn btn-dark" })
            </div>
        </div>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
