﻿@model IEnumerable<Onlinestore.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.product_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.order_id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.order_id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.order_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
