﻿@model List<Onlinestore.Models.Cart>
@{

    ViewBag.Title = "CartView";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}

<style>
    .btn {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn:hover {
            background-color: #0056b3;
        }
</style>
<h2>Shopping Cart</h2>

@if (Model.Count == 0)

{

    <p>Your shopping cart is empty.</p>

}

else

{

    <table class="table">

        <thead>

            <tr>

                <th>Product ID</th>

                <th>Price</th>

                <th>Quantity</th>

                <th>Total</th>

                <th>Action</th>

            </tr>

        </thead>

        <tbody>

            @foreach (var item in Model)

            {

                <tr>

                    <td>@item.cart_id</td>

                    <td>@item.price</td>

                    <td>@item.quantity</td>

                    <td>@(item.price * item.quantity)</td>

                    <td>

                        @Html.ActionLink("Remove", "RemoveFromCart", new { id = item.cart_id })

                    </td>

                </tr>

            }

        </tbody>

    </table>

    <p>Total: @(Model.Sum(item => item.price * item.quantity))</p>


    @Html.ActionLink("Continue Shopping", "ProductView", "Products")
    <br />
    @Html.ActionLink("BuyNow", "Paid", "Carts", new { }, new { @class = "btn btn-primary" })

}