﻿@model IEnumerable<Onlinestore.Models.Product>

@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>ProductView</h2>


<style>
    .menu-item-image {
        width: 270px;
        height: 230px;
    }
</style>


<!-- plants -->
<div class="container" id="plant-cards">
    <h1 class="text-center">Our Collection</h1>
    <h2 class="text-center">Shop out the best Collection!</h2>
    <div class="row" style="margin-top: 30px;">
        <!-- shop items -->
        @foreach (var item in Model)
        {
            string MenuUrl = "https://localhost:44338/Content/images/" + @item.productimg;
            <div class="col-md-3 py-3 py-md-0">
                @using (Html.BeginForm("AddToCart", "Carts", new { id = item.product_id, price = item.product_price }, FormMethod.Post))
                {
                    <div class="menu">

                        <img class="menu-item-image" src="@MenuUrl" alt="@item.productimg">
                        <h2 class="menu-item-category">@item.product_name</h2>
                        <h4 class="menu-item-price">Rs.@item.product_price</h4>
                    </div>
                    <div>
                        <h2 class="shop-item-price"> <span><input type="submit" value="Add To Cart" class="btn btn-primary" /></span></h2>
                    </div>
                }
            </div>
        }
    </div>
</div>
